{% extends 'exapp/layout.html' %}
{% load exapp_list %}
{% load static %}  {#另外一个导入css的方式 STATIC_URL指定的是什么，static url就是什么#}
{% block css %}
    <style>
        .comb-search a{
            display: inline-block;
            border: 1px solid #dddddd;
            padding:5px 8px;
            margin: 5px;
        }
        .comb-search a.active{
            background-color: #2aabd2;
            color: white;
        }
        .comb-search .all-area{
            float: left;
        }

        .comb-search .other-area{
            padding-left: 70px;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>数据列表</h1>
    <div class="container">
        {% if filter_list %}
            <div class="row comb-search">

               {% for queryset in filter_list %}
                   <div class="row">
                    {% for row in queryset %}
                        {{ row }}
                        {% endfor %}
                   </div>
               {% endfor %}
            </div>
        {% endif %}
        <form method="POST" novalidate>
            {% csrf_token %}
            {% if action_list %}
                <div class="row">
                    <select class="form-control" name="action" style="display: inline-block;width: 200px">
                        {% for item in action_list %}
                            <option value="{{ item.name }}">{{ item.text }}</option>
                        {% endfor %}

                    </select>
                    <input type="submit" class="btn btn-primary" value="执行">
                </div>
            {% endif %}
            <a href="{{ add_url }}" class="btn btn-success" style="float: right">添加</a>
            {# 数据表格 开始#}
            {% func result_list list_display BaseExtraAdmin_obj %}
        {# 数据表格 结束#}

        </form>

            {#    分页开始#}
        <ul class="pagination">
            {{ page_str | safe }}
        </ul>
        {#    分页结束#}
    </div>


{% endblock %}
